@model AnimeBox.Models.Kutuphane

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kutuphane</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimeAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimeFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hesap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hesap.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
