@model AnimeBox.Models.Anime

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Anime</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studyo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studyo.StudyoAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimeAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BaslamaTarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BaslamaTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KacBolumTamamlandi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KacBolumTamamlandi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HangiSezondaCikti)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HangiSezondaCikti)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SezonNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SezonNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PartNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PartNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YasSiniri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YasSiniri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SatinAlimSayisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SatinAlimSayisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IzlenmeSayisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IzlenmeSayisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BegeniSayisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BegeniSayisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BolumSayisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BolumSayisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BolumSuresi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BolumSuresi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IMDB_Puan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IMDB_Puan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AktifMi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AktifMi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeninKonusu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimeninKonusu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeTanitimFoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimeTanitimFoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeKucukFoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimeKucukFoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FragmanVideosu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FragmanVideosu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
