 @model IEnumerable<AnimeBox.Controllers.AnimeDTO>
    
    <!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">

            @{var onemliAnimeler = Model.Where(x => x.Onemsirasi == 1).OrderByDescending(y => y.Izlenme).ToList();}
            @foreach (var item in onemliAnimeler.Take(6))
            {             
                    <div class="hero__items set-bg" data-setbg="@item.Tanitimfoto">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="hero__text">
                                    <br> <br>  <br>  <br>
                                    <h2>@item.Ad</h2>
                                    <br>
                                    <a href="#"><span>Şimdi Satın Al</span> <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>             
            }
        </div>
    </div>
   
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>En Çok Satanlar</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        @{var coksatanAnimeler = Model.Where(x => x.Onemsirasi == 1).OrderByDescending(y => y.SatinAlim).ToList();}
                        @foreach (var item in coksatanAnimeler.Take(6))
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@item.Kucukfoto">
                                        <div class="ep"> @item.Bolumsayisi / @item.Tamamlananbolumsayisi  </div>
                                        <div class="comment"><i class="fa fa-thumbs-o-up"></i>@item.Begeni</div>
                                        <div class="view"><i class="fa fa-eye"></i>@item.Izlenme</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>@item.Kategoriadi</li>
                                        </ul>
                                        <h5>@item.Ad</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>GÖSTERİMDE OLANLAR</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @{var aktifAnimeler = Model.Where(x => x.Aktiflik==true && x.Onemsirasi == 1).OrderByDescending(y => y.Izlenme).ToList();}
                        @foreach (var item in aktifAnimeler.Take(6))
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@item.Kucukfoto">
                                        <div class="ep">@item.Bolumsayisi / @item.Tamamlananbolumsayisi</div>
                                        <div class="comment"><i class="fa fa-comments"></i> @item.Begeni</div>
                                        <div class="view"><i class="fa fa-eye"></i> @item.Izlenme</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>                                        
                                            <li>@item.Kategoriadi</li>
                                        </ul>
                                        <h5><a href="#">@item.Ad</a></h5>
                                    </div>
                                </div>
                            </div>
                         }
                    </div>
                </div>


                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Yakında Çıkacaklar</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @{var yakindaCikacakAnimeler = Model.Where(x => (x.Baslamatarihi <= DateTime.Now.AddMonths(+4) && x.Baslamatarihi >= DateTime.Now && x.Onemsirasi == 1||x.Baslamatarihi==null&&x.Onemsirasi==1)).ToList();}
                        @foreach (var item in yakindaCikacakAnimeler.Take(6))
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@item.Kucukfoto">
                                        <div class="ep">@item.Bolumsayisi / @item.Tamamlananbolumsayisi  </div>
                                        <div class="comment"><i class="fa fa-thumbs-o-up"></i>@item.Begeni</div>
                                        <div class="view"><i class="fa fa-eye"></i> @item.Izlenme</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>@item.Kategoriadi</li>
                                        </ul>

                                        <h5><a href="#">@item.Ad</a></h5>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="product__sidebar">
                <div class="product__sidebar__view">
                    <div class="section-title">
                        <h5>En Çok Görüntülenen</h5>
                    </div>
                    <div class="filter__gallery">
                        @{var enCokGoruntulenenAnimeler = Model.Where(x => x.Onemsirasi == 1).OrderByDescending(x => x.Izlenme).ToList();}
                        @foreach (var item in enCokGoruntulenenAnimeler.Take(6))
                        {
                             <div class="product__sidebar__view__item set-bg"
                                    data-setbg="@item.Kucukfoto">
                                     <div class="ep">@item.Bolumsayisi / @item.Tamamlananbolumsayisi</div>
                                    <div class="view"><i class="fa fa-eye"></i> @item.Izlenme</div>                     

                                    <h5>@item.Ad</h5>
                             </div>
                        }
                    </div>
                </div>
            </div>
        </div>
            
        </div>             
    </div>
</section>
<!-- Product Section End -->
