@model IEnumerable<AnimeBox.Controllers.AnimeDTO>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="@item.Kucukfoto">
                <div class="ep"> @item.Bolumsayisi / @item.Tamamlananbolumsayisi  </div>
                <div class="comment"><i class="fa fa-thumbs-o-up"></i>@item.Begeni</div>
                <div class="view"><i class="fa fa-eye"></i>@item.Izlenme</div>
            </div>
            <div class="product__item__text">
                <ul>
                    <li>@item.Kategoriadi</li>
                </ul>
                <h5>@item.Ad</h5>

            </div>
                                
           <div class="product__item__fiyat">
                   <h5>@item.PiyasaDegeri $</h5>
            </div>         
                         
        </div>
    </div>
}


